<div class="mt-4">
  <div>
    <a href="/me/stored/courses">
      <i 
        class="bi bi-arrow-left text-dark"
        style="font-size: 2rem"
      ></i>
    </a>
    <h3 class="ml-5">My deleted courses</h3>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="2">Created at</th>
      </tr>
    </thead>
      <tbody>
    {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{ this.name }}</td>
          <td>{{ this.level }}</td>
          <td>{{ this.createdAt }}</td>
          <td>
              <a class="btn btn-link btn-restore" data-id="{{this._id}}">
                <i 
                  class="bi bi-arrow-clockwise text-primary"
                  style="font-size: 18px"
                ></i>
              </a>
              <a class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-course-model">
                <i 
                  class="bi bi-trash text-danger"
                  style="font-size: 18px"
                ></i>
              </a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Empty delete course. 
            <a href="/me/stored/courses">My courses</a>
          </td>
        </tr>
    {{/each}}
      </tbody>
  </table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-course-model" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This action can't restore. Are you sure you want to delete this course?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Force delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden delete form --}}
<form method="POST" name="delete-course-form"></form>
  
  {{!-- Hidden restore form --}}
<form method="POST" name="restore-course-form"></form>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    var courseId;
    var deleteCourseForm = document.forms["delete-course-form"];
    var restoreCourseForm = document.forms["restore-course-form"];
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var restoreBtn = $('.btn-restore');

    // When dialog confirm clicked
    $('#delete-course-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      courseId = button.data('id');
    });

    // When delete course btn clicked
    btnDeleteCourse.onclick = function () {
      deleteCourseForm.action = '/courses/' + courseId + '/force?_method=DELETE';
      deleteCourseForm.submit();
    }

    // Restore btn clicked
    restoreBtn.click(function (e) {
      e.preventDefault();

      var courseId = $(this).data('id');
    
      restoreCourseForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
      restoreCourseForm.submit();
    })
  });
</script>